/* 
Variables 

Variables are placeholders for storing information that you want to reuse throughout your styles. You can store things like colors, font-families, or any css value you can think you might want to reuse. 
SCSS uses the '$' symbol to declare variables */

// Colors
$blue: #3498db;
$dark-blue: #2980b9;
$grey: #aaaaaa;
$grey-dark: #666666;
$white: #fff;

// You can use variables inside variables
$primary: $blue;
$secondary: $grey;

// Font Families
$helvetica: Helvetica, Arial, sans-serif;
