html{
    font-family: $helvetica;
}

.primary-btn{
    @include button($primary, $white, darkblue);
}

.border{
    border: 1px solid #ccc;
    p{
        color: red;
    }
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

ul{
    @extend .border;
}